@import 'settings.css';

section.categories{
    margin: 12px 96px 24px;
    padding: 16 32px;
    text-align: center;
}
section.categories>div.head{
    text-align: center;
    font-size: 21px;
    font-weight: 700;
    color: #0c0c0c;
    margin-bottom: 10px;
}
section.categories>div.content{
    display: inline-block;
    margin: 10px calc((100% - 1281px) / 3);
}
section.categories>div.content>a{
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    color: #0c0c0c;
}
section.categories>div.content>a>img{
    width: 170px;
    height: 170px;
}
section.categories>div.content>a>span{
    display: block;
    margin: 0 auto;
}