@import 'settings.css';

section.categories{
    margin: 12px 96px 24px;
    padding: 16 32px;
    text-align: center;
}
section.categories>div.head{
    text-align: center;
    font-size: 21px;
    font-weight: 700;
    color: #0c0c0c;
    margin-bottom: 10px;
}
section.categories>div.content{
    display: inline-block;
    width: calc(100% / 8);
   margin: 10px 1.25rem;
}
section.categories>div.content>a{
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    color: #0c0c0c;
}
section.categories>div.content>a>img{
    width: 100%;
    object-fit: cover;
}
section.categories>div.content>a>span{
    display: block;
    margin: 0 auto;
}