@import 'settings.css';

section.digiBranding{
    width: 100%;
    background-color: rgb(224, 224, 226);
    position: relative;
}
section.digiBranding>div.containerTop,section.digiBranding>div.containerBottom{
    width: 100%;
    height: 80px;
    text-align: center;
}
section.digiBranding>div.containerTop>div.content{
    display: inline-block;
    width: auto;
    height: inherit;
    padding: 0 46px;
    background-color: rgb(240, 240, 241);
    vertical-align: top;
}
section.digiBranding>div.containerBottom>div.content{
    display: inline-block;
    width: auto;
    height: inherit;
    padding: 0 35px;
    background-color: rgb(240, 240, 241);
    vertical-align: top;
}
section.digiBranding>div.containerTop>div.content>a,section.digiBranding>div.containerBottom>div.content>a{
    text-align: center;
    display: block;
    height: inherit;
    /* margin: 0 auto; */
    line-height: 80px;
}
section.digiBranding>div.containerTop>div.content>a>img,section.digiBranding>div.containerBottom>div.content>a>img{
    height: 20px;
    object-fit: contain;
}






/* section.digiBranding>div.content{
    width: auto;
    height: 80px;
    display: inline-block;
    padding: 0 47.8px;
    background-color: rgb(240, 240, 241);
    margin-bottom: 2px;
}
section.digiBranding>div.content>a{
    text-align: center;
    display: block;
    height: 80px;
    margin: 0 auto;
    line-height: 80px;
}
section.digiBranding>div.content:nth-of-type(9),section.digiBranding>div.content:nth-of-type(10),section.digiBranding>div.content:nth-of-type(9),section.digiBranding>div.content:nth-of-type(11),section.digiBranding>div.content:nth-of-type(12){
    padding: 0 21.6px;
}
section.digiBranding>div.content>a>img{
    height: 20px;
    object-fit: contain;
} */