@import 'settings.css';

/* header{
    width: 100%;
    height: 108px;
} */
section.searchBox{
    width: 100%;
    height: 68px;
    padding: 12px 16px;
    position: fixed;
    direction: rtl;
    z-index: 999999;
    top: 0;
    left: 0;
    background-color: white;
}
section.searchBox>div.searchBoxLogo{
    display: inline-block;
    width: 132px;
    height: 44px;
    vertical-align: top;
    line-height: 44px;
    position: absolute;
    top: 12px;
    right: 16px;
}
section.searchBox>div.searchBoxLogo>a{
    display: inline-block;
    width: inherit;
    height: inherit;
    text-decoration: none;
    padding: 6px 0;
}
section.searchBox>div.searchBoxLogo>a>img{
    display: inline-block;
    width: 115px;
    height: 30px;
    background-size: cover;
    background:no-repeat  center center;
}
section.searchBox>div.searchArea{
    display: inline-block;
    /* width: 1161.75px; */
    height: 44px;
    vertical-align: top;
    direction: rtl;
    line-height: 44px;
    position: absolute;
    top: 12px;
    right: 148px;
}
section.searchBox>div.searchArea>div.search{
    display: inline-block;
    width: 600px;
    height: inherit;
    padding: 0 16px;
    background-color: rgb(240, 240, 241);
    line-height: 44px;
    border-radius: 10px;
}
section.searchBox>div.searchArea>div.search>span{
    display: inline-block;
    color: rgb(161, 163, 168);
    width: 24px;
    height: 24px;
    cursor: pointer;
}
section.searchBox>div.searchArea>div.search>label[for=show]{
    display: inline-block;
    margin: 0 5px;
    color: rgb(161, 163, 168);
}
#show{
    display: hide;
}
section.searchBox>div.searchBoxLeft{
    display: inline-block;
    width: 199.25px;
    height: 44px;
    padding: 2px 0;
    position: absolute;
    top: 12px;
    left: 16px;
}
section.searchBox>div.searchBoxLeft>div.login{
    width: 134.25px;
    height: 40px;
    display: inline-block;
    border: 1px solid rgb(224 , 224, 226);
    border-radius: 10px;
    vertical-align: top;
}
section.searchBox>div.searchBoxLeft>div.login>a{
    display: inline-block;
    width: inherit;
    height: inherit;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    line-height: 40px;
    color: #0c0c0c;
}
section.searchBox>div.searchBoxLeft>div.login>a>span{
    display: inline-block;
    margin-left: 10px;
    transform: rotateY(180deg);
}
section.searchBox>div.searchBoxLeft>span.vLine{
    width: auto;
    height: auto;
    color: rgb(224 , 224, 226);
    font-size: 32px;
    line-height: 40px;
    padding: 0 5px;
}
section.searchBox>div.searchBoxLeft>div.checkOut{
    display: inline-block;
    width: 40px;
    height: 40px;
}
section.searchBox>div.searchBoxLeft>div.checkOut>a{
    display: inline-block;
    width: inherit;
    height: inherit;
}
section.searchBox>div.searchBoxLeft>div.checkOut>a>span{
    display: inline-block;
    transform:rotateY(180deg);
    font-size: 20px;
    color: rgb(67, 71, 79);
    line-height: 40px;
}
