@import 'Iranyekan.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: faFont, sans-serif
}

:root{
    --brightMode: white;
    --softWhite: rgb(224,224,226);
    --softerWhite: rgb(240,240,241);
    --darkMode: #333;
    --darkDark: #111;
    --softDark: #555;
    --c0c0c: #0c0c0c;
    --fff: #fff;
    --t424750: #424750;
    --t232933: #232933;
    --t81858B: #81858B;
    --t616368: rgb(161, 163, 168);
    --tc0c2c5: #c0c2c5;
    --t303338: rgb(130,133,138);
    --t677179: rgb(67, 71, 79);
    --t3f4064: #3f4064;
    --t990208: rgb(99, 102, 108);
}
body{
    background-color: var(--brightMode);
}