@import 'settings.css';

section.subCategories{
    margin: 12px 96px;
    padding: 0 16px;
    text-align: center;
    direction: rtl;
    border: 1px solid rgb(240, 240, 241);
    border-radius: 10px;
}
section.subCategories>div.content{
    display: inline-block;
    width: calc(100% / 4 - 5px);
    position: relative;
}
section.subCategories>div.content:nth-of-type(1),section.subCategories>div.content:nth-of-type(2),section.subCategories>div.content:nth-of-type(3){
    border-left: 1px solid rgb(240, 240, 241);
}
section.subCategories>div.content>div.text{
    padding: 8px 20px;
    text-align: right;
}
section.subCategories>div.content>div.text>h4{
    font-size: 16px;
    font-weight: 700;
    color: var(--t232933);
}
section.subCategories>div.content>div.text>p{
    font-size: 11px;
    font-weight: 400;
    color: var(--t81858B);
}
section.subCategories>div.content>div.mid{
    position: relative;
}
section.subCategories>div.content>div.mid>div.vLine{
    width: 1px;
    height: 90%;
    background-color: rgb(240, 240, 241);
    position: absolute;
    top: 0;
    left: calc(50% - 1px / 2);
}
section.subCategories>div.content>div.mid>div.hLine{
    width: 90%;
    height: 1px;
    background-color: rgb(240, 240, 241);
    position: absolute;
    top: calc(50% - 1px / 2);
    left: calc(50% - 90% /2);
}
section.subCategories>div.content>div.mid>a{
    display: inline-block;
    width: calc(100% / 2 - 2px);
    padding: 8px;
}
section.subCategories>div.content>div.mid>a>img{
    width: 100%;
}
section.subCategories>div.content>div.linker{
    padding: 4px 0 12px;
    text-align: center;
}
section.subCategories>div.content>div.linker>a{
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    color: #19bfd3;
}
section.subCategories>div.content>div.linker>a::after{
    content: ">";
    margin-right: 10px;
    font-size: 16px;
    font-weight: 700;
    color: #19bfd3;
}